body{
    margin: 0;
    background-color: rgb(32, 32, 32);
}
header{
    border-top: 35px rgb(123, 125, 128) solid;
    background-color: rgb(123, 125, 128);
    color : black;
    font-size: 100px;
    font-family:"Impact";
    height : 250px;
    }
.button {
    background-color: rgb(150, 100, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    text-align:right;
    position : absolute;
    top: 5%;
    right: 3%;
    font-family:"Impact";
  }
  .button1 {
    background-color:  rgb(150, 100, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    text-align:right;
    position : absolute;
    top: 5%;
    right: 10.5%;
    font-family:"Impact";
  }
  .button2 {
    background-color: rgb(150, 100, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    text-align:right;
    position : absolute;
    top: 5%;
    right: 18.5%;
    font-family:"Impact";
  }
  h2{
    margin-left:50%;
    margin-right : 20%;
    color : rgba(255, 255, 255, 0.815);
    font-family :Tahoma;
    text-align: justify;
    font-size : 16px;
  }
  .rating {
    direction: rtl;
    margin-left: 105%;
    display : flex;
    justify-content : left;
    margin-top:0%;
 }
 
 .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 0.5em;
    transition: color .4s;
    right : 45%;
 }
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: orange;
    cursor: pointer;
 }
 h1{
  color:rgb(150, 100, 67);
  font-size : 60px;
  margin-left:25%;  
  margin-top: 1px;  
 }
 img{
     width : 360px;
     height : 480px;
     margin-left:25%;  
 }
 p{
    text-align : center;
    margin-left:0%;
} 
.affiche {
    width : 50%;
    text-align: right;
    border : 5px solid blue; 
}
.titre {
    width : 50%;
    text-align: right;

}
.rating, .vrai_resume {
    width : 50%;
    border : 5px solid blue; 

}
tout {
    display: flex;
    border : 5px solid blue;

}
.vrai_resume {
    display: flex;
    text-align : left;
    width : 50%;
    margin-left:5%; 
}
div {
    display : flex;
}
