body{
    margin: 0;
    background-color: rgb(32, 32, 32);
}
header{
    border-top: 35px rgb(123, 125, 128) solid;
    background-color: rgb(123, 125, 128);
    color : black;
    font-size: 100px;
    font-family:"Impact";
}
.soustitres{
    border: 1px rgb(0, 102, 255) solid;
    width: 150px;
    height: 30px;
    line-height: 25px;
    background-color: rgb(0, 102, 255);
    text-align: center;
}
.container {
    width: 15%;
    position: relative;
    display: inline-block;
    text-align: center;

}

.container img {
}

.container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: turquoise;
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px;

}

.container .btn:hover {
    background-color: black;
    color: white;
    padding: 20px 20px;
    margin-top: 20px;
}
.btn{
    margin-top:20px;
}
















.button {
    background-color: rgb(150, 100, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    text-align:right;
    position : absolute;
    top: 5%;
    right: 3%;
    font-family:"Impact";
}
.button1 {
    background-color: rgb(150, 100, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    text-align:right;
    position : absolute;
    top: 5%;
    right: 10.5%;
    font-family:"Impact";
}
.button2 {
    background-color: rgb(150, 100, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    text-align:right;
    position : absolute;
    top: 5%;
    right: 18.5%;
    font-family:"Impact";
}
p{
    text-align : center;
}
  